@using ResumeProjectDemoNight.Entities
@model List<Experience>
<section id="experience">

	<div class="container">

		<!-- section title -->
		<h2 class="section-title wow fadeInUp">Deneyimlerim</h2>

		<div class="spacer" data-height="60"></div>

		<div class="row">

			<div class="col-md-6">
				<div class="timeline edu rounded shadow-dark padding-30 overflow-hidden h-100"
					 style="background-color: #FFF0F2;">

				@if (ViewBag.educationList != null)
				{
					@foreach (var item in ViewBag.educationList as List<Education>)
					{
						<div class="timeline-container wow fadeInUp">
							<div class="content">
								<span class="time">@item.WorkPeriodDate</span>
								<h3 class="title">@item.Title</h3>							
								<p>@item.Description</p>
							</div>
						</div>
					}
				}
							
					<!-- main line -->
					<span class="line"></span>

				</div>

			</div>

			<div class="col-md-6">

				<!-- responsive spacer -->
				<div class="spacer d-md-none d-lg-none" data-height="30"></div>

				<!-- timeline wrapper -->
				<div class="timeline exp rounded shadow-dark padding-30 overflow-hidden h-100"
					 style="background-color: #F0F4FF;">
					@foreach(var item in Model)
					{
						<div class="timeline-container wow fadeInUp">
							<div class="content">
								<span class="time">@item.WorkPeriodDate</span>
								<h3 class="title">@item.Title</h3>
								<p>@item.Description</p>
							</div>
						</div>
					}
							
					<!-- main line -->
					<span class="line"></span>

				</div>

			</div>

		</div>

	</div>

</section>
